.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    background-color: aliceblue;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif
}


/* header */
.header{
    background-image: url(../Assets/Hero-bg.png);
    background-repeat: no-repeat;
    text-align: center;
    font-family: Arial, sans-serif;
    
}

.btn-primary{
    background-color: #4E47FF;
    color: #FFFFFF;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    border-radius: 10px;
    margin-right: 150px;
    margin-top: 50px;
}

.btn-style{
    background-color: #4E47FF;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
}

/* Nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

.nov-title{
    color: #4E47FF;
    font-weight: bold;
    font-size: 30px;
    margin-left: 150px;
    margin-top: 50px;
}


/* banner content */
.banner-content h1{
    font-size: 40px;
    max-width: 905px;
    line-height: 1.3;
    margin-bottom: 30px;
}

.banner-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
}

.highlight{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 48px;
}

/* section 1 */
.Action-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 10%;
    gap: 50px;
    margin-left: 50px;
}

.Action-Text{
    flex: 1;
}

.Action-Text h2{
    font-size: 32px;
    margin-bottom: 15px;
}

.Action-Text p{
    font-size: 16px;
    color: #252432;
    margin-bottom: 20px;
}

.Action-img{
    flex: 1;
}

.Action-img img{
    width: 70%;
    border-radius: 30px;
    display: block;
    margin: 0 auto;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5);;
}

.btn-style2{
    background-color: #4E47FF;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
}

/* section2 */
.stats-section{
    text-align: center;
    padding: 60px 10%;
    background: #f0f2ff;
    max-width: 920px;
    margin-left: 160px;
    border-radius: 15px;
}


.stats-section h2{
    font-size: 24px;
    margin-bottom: 40px;
}

.stats-box{
    display: flex;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
}

.stat h3{
    font-size: 70px;
    color: #4E47FF;
    margin-bottom: 10px;
}

.stat p {
    color: #000000;
    font-size: 14px;
}
